h1{
    color: palegreen;
    text-align: inherit;
}

.header{
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: chartreuse;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
    color: rgb(238, 54, 54);
}

body{
    background-color: rgb(0, 0, 0);
    margin-top: 5mm;
    text-align: center;
}

